.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.pull-up{margin-top:-10px;}
.go-right{float:right;}
.go-left{float:left;}
.no-mouse{cursor:none !important;}
.color1{background:#feff0d !important;}.color1.dark{background:#d8d900;}
.color2{background:#50bba9 !important;}.color2.dark{background:#3c9c8c;}
.color3{background:#512a2d !important;}.color3.dark{background:#2f191a;}
.color4{background:#e2e0af;}.color4.dark{background:#d4d18a;}
.color5{background:#565b93 !important;}.color5.dark{background:#434773;}
.color6{background:#84028a !important;}.color6.dark{background:#540158;}
.color7{background:#fa572c !important;}.color7.dark{background:#ed3606;}
.color8{background:#136511 !important;}.color8.dark{background:#0b390a;}
.color9{background:#93e423 !important;}.color9.dark{background:#77bd17;}
.color10{background:#eeeae7 !important;}.color10.dark{background:#d9d0c9;}
.color11{background:#980011 !important;}.color11.dark{background:#65000b;}
.color12{background:#474a51 !important;}.color12.dark{background:#2f3136;}
.color13{background:#c78aa4 !important;}.color13.dark{background:#b66889;}
.color14{background:#0b0b0b !important;}.color14.dark{background:#000000;}
.color15{background:#85bafe !important;}.color15.dark{background:#529dfe;}
.tri-color1{background:url("../img/triangles/1.png") no-repeat right center;}
.tri-color1.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color2{background:url("../img/triangles/2.png") no-repeat right center;}
.tri-color2.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color3{background:url("../img/triangles/3.png") no-repeat right center;}
.tri-color3.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color4{background:url("../img/triangles/4.png") no-repeat right center;}
.tri-color4.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color5{background:url("../img/triangles/5.png") no-repeat right center;}
.tri-color5.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color6{background:url("../img/triangles/6.png") no-repeat right center;}
.tri-color6.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color7{background:url("../img/triangles/7.png") no-repeat right center;}
.tri-color7.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color8{background:url("../img/triangles/8.png") no-repeat right center;}
.tri-color8.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color9{background:url("../img/triangles/9.png") no-repeat right center;}
.tri-color9.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color10{background:url("../img/triangles/10.png") no-repeat right center;}
.tri-color10.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color11{background:url("../img/triangles/11.png") no-repeat right center;}
.tri-color11.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color12{background:url("../img/triangles/12.png") no-repeat right center;}
.tri-color12.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color13{background:url("../img/triangles/13.png") no-repeat right center;}
.tri-color13.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color14{background:url("../img/triangles/14.png") no-repeat right center;}
.tri-color14.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
.tri-color15{background:url("../img/triangles/15.png") no-repeat right center;}
.tri-color15.prev{background-position:right center;-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-ms-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);}
body,html{height:100%;width:100%;margin:0;padding:0;background:#fff;}
a{color:black;text-decoration:none;}a:hover{text-decoration:none;}
avisited{text-decoration:none;}
#main{height:inherit;}
#intro{width:300px;height:100px;text-align:center;position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-150px;}#intro h1,#intro h2{font-weight:100;line-height:0;}
#intro h1{font-size:1.2em;}
#intro h2{font-size:1.6em;font-style:italic;margin:-4px 0 40px 0;}
#intro p{margin-top:-3px;}
.sidebar{height:100%;width:235px;cursor:pointer;display:none;}
#rightSide{float:right;position:relative;left:235px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}#rightSide.open{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;left:0;}
#leftSide{float:left;position:relative;right:235px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}#leftSide.open{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;right:0;}
