.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.pull-up{margin-top:-10px;}
.go-right{float:right;}
.go-left{float:left;}
.1color{background:#feff0d;}
.2color{background:#50bba9;}
.3color{background:#512a2d;}
.4color{background:#e2e0af;}
.5color{background:#565b93;}
.6color{background:#84028a;}
.7color{background:#fa572c;}
.8color{background:#136511;}
.9color{background:#93e423;}
.10color{background:#eeeae7;}
.11color{background:#980011;}
.12color{background:#474a51;}
.13color{background:#c78aa4;}
.14color{background:#0b0b0b;}
.15color{background:#85bafe;}
body,html{height:100%;width:100%;margin:0;padding:0;background:#feff0d;}
.btn{padding:4px 14px;margin-bottom:0;font-size:12px;line-height:12px;vertical-align:middle;cursor:pointer;border:none;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;background:#000;opacity:0.7;color:#feff0d;text-align:center;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}.btn:hover{opacity:0.55;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.btn.large{height:24px;font-size:16px;line-height:8px;}
#intro{width:300px;text-align:center;margin-top:40px;position:absolute;top:50%;left:50%;margin-top:-150px;margin-left:-150px;}
