.make-transition (@speed: @fadeInTime, @easing: ease-in-out) {
	-webkit-transition: all @speed @easing;
	-moz-transition: all @speed @easing;
	-o-transition: all @speed @easing;
	transition: all @speed @easing;
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.set-triangle(@id: 1){
	background:url("../img/triangles/@{id}.png") no-repeat right center;
	&.next{
		//if we need something here
	}
	&.prev{
		background-position: right center;
		-webkit-transform:scaleX(-1);
		-moz-transform:scaleX(-1);
		-ms-transform:scaleX(-1);
		-o-transform:scaleX(-1);
		transform:scaleX(-1);
	}
}

.rotate(@deg:90deg){
	transform:rotate(@deg);
	-ms-transform:rotate(@deg); /* IE 9 */
	-webkit-transform:rotate(@deg); /* Safari and Chrome */
}