//other utils
.pull-up{
	margin-top:-10px;
}

.go-right{
	float: right;
}
.go-left{
	float: left;
}

.no-mouse{
	cursor: none !important;
}

.color1{
	//background:url(../img/triangles/1.png) no-repeat fixed center center; 
	background: @1color !important;
	&.dark{
		background: darken(@1color, @darkenPercent);
	}
}
.color2{
	background: @2color !important;
	&.dark{
		background: darken(@2color, @darkenPercent);
	}
}
.color3{
	background: @3color !important;
	&.dark{
		background: darken(@3color, @darkenPercent);
	}
}
.color4{
	background: @4color;
	&.dark{
		background: darken(@4color, @darkenPercent);
	}
}
.color5{
	background: @5color !important;
	&.dark{
		background: darken(@5color, @darkenPercent);
	}
}
.color6{
	background: @6color !important;
	&.dark{
		background: darken(@6color, @darkenPercent);
	}
}
.color7{
	background: @7color !important;
	&.dark{
		background: darken(@7color, @darkenPercent);
	}
}
.color8{
	background: @8color !important;
	&.dark{
		background: darken(@8color, @darkenPercent);
	}
}
.color9{
	background: @9color !important;
	&.dark{
		background: darken(@9color, @darkenPercent);
	}
}
.color10{
	background: @10color !important;
	&.dark{
		background: darken(@10color, @darkenPercent);
	}
}
.color11{
	background: @11color !important;
	&.dark{
		background: darken(@11color, @darkenPercent);
	}
}
.color12{
	background: @12color !important;
	&.dark{
		background: darken(@12color, @darkenPercent);
	}
}
.color13{
	background: @13color !important;
	&.dark{
		background: darken(@13color, @darkenPercent);
	}
}
.color14{
	background: @14color !important;
	&.dark{
		background: darken(@14color, @darkenPercent);
	}
}
.color15{
	background: @15color !important;
	&.dark{
		background: darken(@15color, @darkenPercent);
	}
}


////////////

.tri-color1{
	.set-triangle(1);
}
.tri-color2{
	.set-triangle(2);
}
.tri-color3{
	.set-triangle(3);
}
.tri-color4{
	.set-triangle(4);
}
.tri-color5{
	.set-triangle(5);
}
.tri-color6{
	.set-triangle(6);
}
.tri-color7{
	.set-triangle(7);
}
.tri-color8{
	.set-triangle(8);
}
.tri-color9{
	.set-triangle(9);
}
.tri-color10{
	.set-triangle(10);
}
.tri-color11{
	.set-triangle(11);
}
.tri-color12{
	.set-triangle(12);
}
.tri-color13{
	.set-triangle(13);
}
.tri-color14{
	.set-triangle(14);
}
.tri-color15{
	.set-triangle(15);
}
