//other utils
.pull-up{
	margin-top:-10px;
}

.go-right{
	float: right;
}
.go-left{
	float: left;
}

.1color{
	background: @1color;
}
.2color{
	background: @2color;
}
.3color{
	background: @3color;
}
.4color{
	background: @4color;
}
.5color{
	background: @5color;
}
.6color{
	background: @6color;
}
.7color{
	background: @7color;
}
.8color{
	background: @8color;
}
.9color{
	background: @9color;
}
.10color{
	background: @10color;
}
.11color{
	background: @11color;
}
.12color{
	background: @12color;
}
.13color{
	background: @13color;
}
.14color{
	background: @14color;
}
.15color{
	background: @15color;
}
